<header>
    <h3 id="header-title">
        &#128640;
        &#127937;
        &#127942;
        NFS Telega
    </h3>
    <nav>
        <a href="{{ url('karts') }}">
            <button {% if request.path == '/' %}class="active-tab"{% endif %}>
                &#128640; <br> Карти
            </button>
        </a>
        <a href="{{ url('teams') }}">
            <button {% if request.path == '/teams' %}class="active-tab"{% endif %}>
                &#128101; <br> Команди
            </button>
        </a>
        <a href="{{ url('pit') }}">
            <button {% if request.path == '/pit' %}class="active-tab"{% endif %}>
                &#128721; <br> ПІТ
            </button>
        </a>
        <a href="{{ url('settings') }}">
            <button {% if request.path == '/settings' %}class="active-tab"{% endif %}>
                &#128295; <br> Різне
            </button>
        </a>
    </nav>
</header>