{% from 'components/stints-table.html' import stints_table with context %}

<h4>Карт {{ kart_number }}: деталі</h4>
<div>
    <button style="background-color: #f97272"
            hx-post="{{ url('remove-kart-from-queue-v2') }}?kart_number={{ kart_number }}"
            hx-confirm="Видалити карт {{ kart_number }} з піта?">Видалити</button>
    <button style="background-color: gold"
            hx-post="{{ url('highlight-kart-v2') }}?kart_number={{ kart_number }}">
        {% if kart_number in pit_highlights %}
            Прибрати помітку
        {% else %}
            Помітити
        {% endif %}
    </button>
</div>

{% if stints %}
    {{ stints_table(stints, columns='PBSAL', sortable=false) }}
{% else %}
    <div style="border: 1px solid red">Немає відрізків на цьому карті</div>
{% endif %}
