{% from 'components/kart.html' import kart with context %}

<tbody>
    <tr>
        <td rowspan="2" class="kart-number-cell">
            {{ kart(number=kart_data.number, inline=true) }}
        </td>
        <td class="pilot-name-nowrap">
            {{ kart_data.stint_1.pilot|pilot_surname if kart_data.stint_1 else 'пусто' }}
            <span>&#128336; {{ kart_data.stint_1.started_at|format_racetime if kart_data.stint_1 }}</span>
        </td>
         <td>
             {{ kart_data.stint_1.best|round(2) if kart_data.stint_1 else '-' }}
        </td>
        <td>
            {{ kart_data.stint_1.average|round(2) if kart_data.stint_1 else '-' }}
        </td>
        <td rowspan="2" class="kart-control" onclick="showKartControl(this)">&#10060;</td>
    </tr>
    <tr class="last-stint">
        <td class="pilot-name-nowrap">
             {{ kart_data.stint_2.pilot|pilot_surname if kart_data.stint_2 else 'пусто' }}
            <span>&#128336; {{ kart_data.stint_2.started_at|format_racetime if kart_data.stint_2 }}</span>
        </td>
        <td>
             {{ kart_data.stint_2.best|round(2) if kart_data.stint_2 else '-' }}
        </td>
        <td>
            {{ kart_data.stint_2.average|round(2) if kart_data.stint_2 else '-' }}
        </td>
    </tr>
{#    <tr style="display: none; font-size: 0.8em; text-align: left">#}
{#        <td colspan="5">Restore kart {{ kart_data.number }}</td>#}
{#    </tr>#}
</tbody>