{% from 'components/kart.html' import kart with context %}

<tbody>

    <tr>
        <td class="team-number" rowspan="2">{{ kart_data.team_number }}</td>
        <td rowspan="2">
            {{ kart_data.stint_time }}
            <br>
            <span style="font-size: 0.8em;">{{ kart_data.current_pilot|pilot_surname }}</span>
        </td>
        <td class="kart-number-cell" rowspan="2">{{ kart(number=kart_data.number, inline=true) }}</td>

        <td class="pilot-name-nowrap">
            {{ kart_data.stint_1.pilot|pilot_surname if kart_data.stint_1 else 'пусто' }}
            <span>&#128336; {{ kart_data.stint_1.started_at|format_racetime if kart_data.stint_1 }}</span>
        </td>
         <td>
             {{ kart_data.stint_1.best|round(2) if kart_data.stint_1 else '-' }}
        </td>
        <td>
            {{ kart_data.stint_1.average|round(2) if kart_data.stint_1 else '-' }}
        </td>
    </tr>
    <tr class="last-stint">
        <td class="pilot-name-nowrap">
             {{ kart_data.stint_2.pilot|pilot_surname if kart_data.stint_2 else 'пусто' }}
            <span>&#128336; {{ kart_data.stint_2.started_at|format_racetime if kart_data.stint_2 }}</span>
        </td>
        <td>
             {{ kart_data.stint_2.best|round(2) if kart_data.stint_2 else '-' }}
        </td>
        <td>
            {{ kart_data.stint_2.average|round(2) if kart_data.stint_2 else '-' }}
        </td>
    </tr>
</tbody>