


{% extends "base.html" %}
{% block body %}
    <h4>List of jobs:</h4>

    <div class="list-group">
    {% for job in jobs %}
<a href="/jobs/{{ job.id }}" class="list-group-item d-flex list-group-item-action align-items-center">
<div class="me-auto">
      <div class="fw-bold">Job # {{job.id}}</div>
{{job.url}}<br>
Created at {{job.created_at.strftime('%H:%M, %d %b %Y')}}
    </div>
    {% if job.is_running %}
        <span class="badge bg-success rounded-pill">RUNNING</span>
    {% else %}
<span class="badge bg-danger rounded-pill">STOPPED</span>
    {% endif %}
</a>


    {% endfor %}
    </div>

{% endblock %}

