{% extends "base.html" %}
{% block body %}
    <h3>Job # {{ job.id }}</h3>
    <a href="{{job.url}}">{{job.url}}</a><br>
    Created at {{job.created_at.strftime('%H:%M, %d %b %Y')}}<br>
    {% if not job.is_running %}
    <hr class="">
        <form class="" method="post">
        <input type="url" class="form-control" id="job_url"
               value="https://nfs-stats.herokuapp.com/getmaininfo.json"
               name="job_url"
                hidden>
            <button type="submit" class="btn btn-warning mb-3">Start this job again</button>
        </form>
    {% endif %}

    <hr class="mt-0 mb-2">
    <h6>Requests of the job:</h6>

    <ul class="list-group">
      <li class="list-group-item list-group-item-success">{{job.created_at.strftime('%H:%M, %d %b %Y')}}</li>
      <li class="list-group-item list-group-item-success">{{job.created_at.strftime('%H:%M, %d %b %Y')}}</li>
      <li class="list-group-item list-group-item-danger">{{job.created_at.strftime('%H:%M, %d %b %Y')}}</li>
      <li class="list-group-item list-group-item-success">{{job.created_at.strftime('%H:%M, %d %b %Y')}}</li>
      <li class="list-group-item list-group-item-success">{{job.created_at.strftime('%H:%M, %d %b %Y')}}</li>
    </ul>

{% endblock %}

