header {
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid black;
    padding-bottom: 20px;
    margin-bottom: 10px;
}

.kart-number {
    font-family: 'Racing Sans One', cursive;
    border: 3px solid black;
    border-radius: 5px;
    text-decoration: none;
    color: black;
    font-size: 1.5em;
    width: 1.5em;
    text-align: center;
    display: inline-block;
}

table {
    table-layout: fixed;
}

.pilot-name {

    width: 8em;
}