header {

    padding-bottom: 20px;
    margin-bottom: 10px;
}

header #header-title {
    text-align: center;
}

nav {
    display: flex;
    justify-content: space-between;
}

nav a {
    width: 33%;
}

nav a button {
    width: 100%;
    padding-left: 5px;
    padding-right: 5px;
}

nav a button.active-tab {
    background-color: #eeeeee;
    border: 1px solid #0096BF;
    box-shadow: #0096BF 0px 1px 4px;
}



.kart-number {
    font-family: 'Racing Sans One', cursive;
    border: 3px solid black;
    border-radius: 5px;
    text-decoration: none;
    color: black;
    font-size: 1.1em;
    width: 1.5em;
    height: 1.5em;
    text-align: center;
    display: inline-block;
}

td {
    vertical-align: middle;
}

table {
    table-layout: fixed;
}

table th a {
    color: black;
    text-decoration: none; /* no underline */
}

table th.selected-sorting {
    background-color: yellow;
}

.sorting-options {
    display: flex;
    max-width: 400px;
    justify-content: space-around;
}

.team-card {
    border: 1px solid gray;
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 10px 5px;
}


.team-card-line {
    display: flex;
    justify-content: space-between;
    align-content: center;
}


.team-card-line {
    padding-left: 10px;
    padding-right: 10px;
}

.team-card-line-team .title {
    font-weight: bold;
}

.team-card-line-team .pilot-names {
    font-size: 0.8em;
}

.team-card-line-karts {
    display: flex;
    align-items: center;
}

.team-card-line-link {
    display: flex;
    align-items: center;
}

.team-card .collapsed {
    display: none;
}



#login-form {
    text-align: center;
    /*padding: auto;*/
}

#login-form input {
    margin: auto;
}

#login-form .errorlist {
    border: 2px solid #ff4141;
    background-color: #ebc3bf;
    border-radius: 6px;
    max-width: 500px;
    margin: auto;
}