header {

    padding-bottom: 20px;
    margin-bottom: 10px;
}

header #header-title {
    text-align: center;
}

nav {
    display: flex;
    justify-content: space-between;
}

nav a {
    width: 33%;
}

nav a button {
    width: 100%;
    padding-left: 5px;
    padding-right: 5px;
}

nav a button.active-tab {
    background-color: #eeeeee;
    border: 1px solid #0096BF;
    box-shadow: #0096BF 0px 1px 4px;
}



.sorting-options {
    display: flex;
    max-width: 400px;
    justify-content: space-around;
}

/* TODO: refactor usages of this class */
.pilot-name {
    line-height: 1em;
    color: black;
}





#login-form {
    text-align: center;
    /*padding: auto;*/
}

#login-form input {
    margin: auto;
}

#login-form .errorlist {
    border: 2px solid #ff4141;
    background-color: #ebc3bf;
    border-radius: 6px;
    max-width: 500px;
    margin: auto;
}


tr.stint-lap td.best {
    background-color: #f79fff;
}


tr.stint-lap td.close-to-best {
    background-color: #afff9f
}
