header {

    padding-bottom: 20px;
    margin-bottom: 10px;
}

header #header-title {
    text-align: center;
}

nav {
    display: flex;
    justify-content: space-between;
}

nav a {
    width: 33%;
}

nav a button {
    width: 100%;
    padding-left: 5px;
    padding-right: 5px;
}

nav a button.active-tab {
    background-color: #eeeeee;
    border: 1px solid #0096BF;
    box-shadow: #0096BF 0px 1px 4px;
}



.sorting-options {
    display: flex;
    max-width: 400px;
    justify-content: space-around;
}

/* TODO: refactor usages of this class */
.pilot-name {
    line-height: 1em;
    color: black;
}





#login-form {
    text-align: center;
    /*padding: auto;*/
}

#login-form input {
    margin: auto;
}

#login-form .errorlist {
    border: 2px solid #ff4141;
    background-color: #ebc3bf;
    border-radius: 6px;
    max-width: 500px;
    margin: auto;
}


tr.stint-lap td.best {
    background-color: #f79fff;
}


tr.stint-lap td.close-to-best {
    background-color: #afff9f
}

.kart-config {
    margin: 20px 0;
    /*text-align: center;*/
}

.kart-config .picker {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.kart-config .picker button {
    text-align: center;
    background-color: #eeeeee;
    border-radius: 5px;
    display: block;
    padding: 10px;
    margin-top: 10px;

    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.kart-config .picker button:hover {
    background-color: gray;
}

button.badge-option {
    padding: 0.3em 0.1em 0.1em;
}

.kart-config .picker button.accent-option {
    padding: 10px 30px;
}

.badge-option img.badge {
    width: 1.2em;
    margin-bottom: -5px;
}

.karts-with-marks {
    margin: 10px 0;
}

.karts-with-marks table td:first-child {
    padding: 10px 5px;
    width: 5em;
}

.kart-note {
    background-color: #eeeeee;
    padding: 5px;
    margin: 20px 0 40px;
}

.stint-details-links {
    display: flex;
    align-items: stretch;
    justify-content: space-around;
}

.stint-details-links a {
    display: block;

}

.stint-details-links button {
    display: block;
    height: 100%;
}

.karts-on-pit tr.last-stint {
    border-bottom: 1px solid gray;
}

table.karts-on-pit td:not(.pilot-name-nowrap), table.karts-on-pit th:not(.pilot-name-nowrap) {
    vertical-align: middle;
    text-align: center;
}

table.karts-on-pit .kart-control {
    width: 2em;
}

.available-kart {
    width: 5em;
    margin: 0.5em;
    font-weight: bold;
    font-family: 'Racing Sans One', cursive;
}