{% extends "base.html" %}
{% load nfsformat %}

{% block title %}
    KARTS
{% endblock %}


{% block body %}
    <div>
    Order by:
        <div class="sorting-options">
            {% if sorting != 'best_lap' %}<a href="{% url 'karts' %}">* Best</a>{% else %}<b>* Best</b>{% endif %}
            {% if sorting != 'avg_80' %}<a href="{% url 'karts' %}?sort=avg_80">* Avg</a>{% else %}<b>* Avg</b>{% endif %}
            {% if sorting != 'best_sector_1' %}<a href="{% url 'karts' %}?sort=best_sector_1">* S1</a>{% else %}<b>* S1</b>{% endif %}
            {% if sorting != 'best_sector_2' %}<a href="{% url 'karts' %}?sort=best_sector_2">* S2</a>{% else %}<b>* S2</b>{% endif %}
        </div>
    </div>
    <table>
        <thead>
        <tr>
            <th style="width: 2em; "><i class="fa-solid fa-car-side"></i></th>
            <th class="pilot-name">Pilot</th>
            <th>Best</th>
            <th>Sectors</th>
            <th>Avg</th>
        </tr>

        </thead>
        {% for stint in stints %}

            <tr>
                <td style="width: 2em; vertical-align: middle">
                    <a class="kart-number" href="{% url 'kart-detail' stint.kart %}">
                        {{ stint.kart }}
                    </a>
                </td>
                <td class="pilot-name">{{ stint.pilot|split_pilot }}</td>
                <td {% if sorting == 'best_lap' %}style="font-weight: bold;"{% endif %}>{{ stint.best_lap|floatformat:3 }}</td>
                <td>
                    <span {% if sorting == 'best_sector_1' %}style="font-weight: bold;"{% endif %}>{{ stint.best_sector_1|floatformat:2 }}</span>
                    <br>
                    <span {% if sorting == 'best_sector_2' %}style="font-weight: bold;"{% endif %}>{{ stint.best_sector_2|floatformat:2 }}</span>
                </td>
                <td {% if sorting == 'avg_80' %}style="font-weight: bold;"{% endif %}>{{ stint.avg_80|floatformat:3 }}</td>
            </tr>
        {% endfor %}

    </table>

{% endblock %}