{% extends "base.html" %}

{% block title %}
    KARTS
{% endblock %}


{% block body %}
    <table>
        <thead>
        <tr>
            <th>Kart</th>
            <th>Pilot</th>
            <th>Best</th>
            <th>40%</th>
            <th>80%</th>
        </tr>

        </thead>
        {% for stint in stints %}

            <tr>
                <td style="vertical-align: middle">
                    <a class="kart-number" href="{% url 'kart-detail' stint.kart %}">
                        {{ stint.kart }}
                    </a>
                </td>
                <td class="pilot-name">{{ stint.pilot }}</td>
                <td>{{ stint.best_lap|floatformat:3 }}</td>
                <td>{{ stint.avg_40|floatformat:3 }}</td>
                <td>{{ stint.avg_80|floatformat:3 }}</td>
            </tr>
        {% endfor %}

    </table>

{% endblock %}