{% extends "base.html" %}

{% block title %}
    KARTS
{% endblock %}


{% block body %}
    <table>
        <thead>
        <tr>
            <th>Kart</th>
            <th>Pilot</th>
            <th>Best</th>
            <th>40%</th>
            <th>80%</th>
        </tr>

        </thead>
        {% for stint in stints %}

            <tr>
                <td style="vertical-align: middle">
                    <a href="{% url 'kart-detail' stint.kart %}" style="color: black; text-decoration: underline; font-size: 1.3em">
                        <b>{{ stint.kart }}</b>
                    </a>
                </td>
                <td>{{ stint.pilot }}</td>
                <td>{{ stint.best_lap|floatformat:3 }}</td>
                <td>{{ stint.avg_40|floatformat:3 }}</td>
                <td>{{ stint.avg_80|floatformat:3 }}</td>
            </tr>
        {% endfor %}

    </table>

{% endblock %}