{% extends "base.html" %}
{% load nfsformat %}

{% block title %}
    KARTS
{% endblock %}


{% block body %}
    <h3>Stints of team {{ team.name }} (latest on top)</h3>
    <table>
        <thead>
        <tr>
            <th style="width: 2em; "><i class="fa-solid fa-car-side"></i></th>
            <th class="pilot-name">Pilot</th>
            <th>Laps<br>Start at</th>
            <th>Best</th>
            <th>Avg</th>
        </tr>

        </thead>
        {% for stint in stints %}

            <tr>
                <td style="width: 2em; vertical-align: middle">
                    <a class="kart-number" href="{% url 'kart-detail' stint.kart %}">
                        {{ stint.kart }}
                    </a>
                </td>
                <td class="pilot-name">{{ stint.pilot|split_pilot }}</td>
                <td><a href="{% url 'stint-detail' stint.stint_id %}">~ {{ stint.laps_amount }}<br>{{ stint.stint_started_at|format_racetime }}</a></td>
                <td>{{ stint.best_lap|floatformat:3 }}</td>
                <td>{{ stint.avg_80|floatformat:3 }}</td>
            </tr>
        {% endfor %}

    </table>

{% endblock %}