{% extends "base.html" %}
{% load nfsformat %}

{% block title %}
TEAMS
{% endblock %}

{% block body %}
    Jump to:
    <ul>
    {% for team in teams %}
    <li>
        <a style="color: inherit; text-decoration: underline" href="#team-{{ team.team }}">#{{ team.team }} - {{ team.team__name }}</a>
    </li>
    {% endfor %}
    </ul>

    <hr>
    <h4>! Teams are sorted by best lap</h4>
    <h4>Stints show latest first </h4>
    {% for team in teams %}

    <div class="team-card">
        <div class="title" id="team-{{ team.team }}"><a href="{% url 'team-detail' team.team %}">#{{ team.team }} - {{ team.team__name }}</a></div>

        <table>

        {% for stint in team.stints %}
            <tr>
            <td style="width: 3em; vertical-align: middle">
                <a href="{% url 'kart-detail' stint.kart %}" class="kart-number-smaller" style="margin-left: 10px">{{ stint.kart }}</a>
            </td>

                <td>{{ stint.pilot|split_pilot }}</td>
            <td>Best: {{ stint.best_lap|floatformat:3 }}</td>
            <td>Average: {{ stint.avg_80|floatformat:3 }}</td>
                <td><a href="{% url 'stint-detail' stint.stint_id %}">Show more</a></td>
            </tr>
        {% endfor %}

        </table>
    </div>
    {% endfor %}

{% endblock %}