{% from 'components/kart.html' import kart with context %}
{% from 'components/team-card.html' import team_card with context %}
{% from 'components/stints-table.html' import stints_table with context %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />


    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/light.css">
    <link href="https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ static ('styles.css') }}">
    <link rel="stylesheet" href="{{ static ('components/kart.css') }}">
    <link rel="stylesheet" href="{{ static ('components/team-card.css') }}">
    <link rel="stylesheet" href="{{ static ('components/stints-table.css') }}">

    <title>{% block title %}{% endblock %}</title>


    {% block extra_head %} {% endblock %}
</head>
<body>
{% block header %}
    {% include 'includes/header.html' %}
{% endblock %}
{% block body %}{% endblock %}


<script>
    {% block extra_js %} {% endblock %}
</script>
</body>
</html>