{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/light.css">
    <link href="https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'styles.css' %}">

    <title>{% block title %}{% endblock %}</title>


    {% block extra_head %} {% endblock %}
</head>
<body>
{% block header %}
    {% include 'header.html' %}
{% endblock %}
{% block body %}{% endblock %}


<script>
    {% block extra_js %} {% endblock %}
</script>
</body>
</html>