{% extends "base.html" %}

{% from 'components/kart.html' import kart %}

{% block title %}
    KARTS
{% endblock %}


{% block body %}
    <h3>
    Всі відрізки на {{ kart(number=kart_number, nolink=true, inline=true) }}
    </h3>

    {{ stints_table(stints, columns='PBSAL', sortable=true, sorting=request.GET.get('sort')) }}

    <hr>

    <div class="kart-config">
        <h4>Відмітити карт значком</h4>
        <form class="picker" method="POST">
            {{ csrf_input }}
            {% for badge in ['good', 'slowed', 'damaged', 'unknown', none] %}
                <button class="badge-option" type="submit" value="{{ badge }}" name="badge">
                    {% if badge %}
                    <img src="/static/badges/{{ badge }}.svg" class="badge {{ badge }}">
                    {% endif %}
                    <br>
                    <span>{{ badge or 'clear' }}</span>
                </button>
            {% endfor %}

        </form>
        <h4>Змінити фон</h4>
        <form class="picker" method="POST">
            {{ csrf_input }}
            {% for accent in ['#69ff6e', '#e87474', '#faec6e', none] %}
                <button class="accent-option" type="submit" value="{{ accent }}" name="accent">
                    {{ kart(number=kart_number, inline=true, accent=accent, nolink=true) }}
                </button>
            {% endfor %}
        </form>
    </div>

{% endblock %}