{% extends "base.html" %}

{% from 'components/kart.html' import kart with context %}

{% block title %}
    KARTS
{% endblock %}

{% set BADGE_NAMES = {'good': 'Відкручена', 'slowed': 'Закручена', 'damaged': 'Поломка', 'unknown': 'Нестабільна', none: 'Очистити'} %}
{% set kart_note = user_notes.get(kart_number) %}

{% block body %}
    <h3>
    Всі відрізки на {{ kart(number=kart_number, nolink=true, inline=true) }}
    </h3>

    {% if kart_note %}
        <div class="kart-note"><b>Примітка: </b>{{ kart_note }}</div>
    {% endif %}

    {{ stints_table(stints, columns='PBSAL', sortable=true, sorting=request.GET.get('sort')) }}

    <hr>

    <div class="kart-config">
        <h4>Змінити фон</h4>
        <form class="picker" method="POST">
            {{ csrf_input }}
            {% for accent in [none, '#69ff6e', '#e87474', '#faec6e'] %}
                <button class="accent-option" type="submit" value="{{ accent }}" name="accent">
                    {{ kart(number=kart_number, inline=true, accent=accent or 'white', nolink=true) }}
                </button>
            {% endfor %}
        </form>

        <h4>Відмітити карт значком</h4>
        <form class="picker" method="POST">
            {{ csrf_input }}
            {% for badge in [none, 'good', 'slowed', 'damaged', 'unknown'] %}
                <button class="badge-option" type="submit" value="{{ badge }}" name="badge">
                    {% if badge %}
                    <img src="/static/badges/{{ badge }}.svg" class="badge {{ badge }}">
                    {% endif %}
                    <br>
                    <span>{{ BADGE_NAMES[badge] }}</span>
                </button>
            {% endfor %}

        </form>

        <h4>Додати нотатку</h4>
        <form class="picker" method="POST">
            {{ csrf_input }}
            <textarea name="note" placeholder="Цей карт гавно тому що...">{{ kart_note }}</textarea>
            <input type="submit" value="Зберегти">
        </form>
    </div>

{% endblock %}