{% extends "base.html" %}

{% block title %}
    KARTS
{% endblock %}


{% block body %}
    <details open>
        <summary>Фільтрація відрізків</summary>

        <div class="show-first-stint">
            <form action="{{ url('show-first-stint') }}" method="POST">
                {{ csrf_input }}
                <span>Показувати перший відрізок</span>
                &nbsp;&nbsp;&nbsp;
                <label><input onchange="this.form.submit();"
                              type="radio"
                              name="show_first_stint"
                              value="1"
                              {% if show_first_stint %}checked="checked"{% endif %}>
                    Так</label>

                <label><input onchange="this.form.submit();"
                              type="radio"
                              name="show_first_stint"
                              value="0"
                              {% if not show_first_stint %}checked="checked"{% endif %}>
                    Ні</label>
            </form>
        </div>
    </details>
    <br>
    {{ stints_table(stints=stints, columns='PBSA', sortable=true, sorting=request.GET.get('sort')) }}

{% endblock %}