{% extends "base.html" %}


{% block title %}
    PIT
{% endblock %}

{% block extra_head %}
    <!-- Alpine Plugins -->
    <script defer src="https://cdn.jsdelivr.net/npm/@alpinejs/persist@3.x.x/dist/cdn.min.js"></script>

    <!-- Alpine Core -->
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
{% endblock %}


{% block body %}
    <h3>
        Карти що зараз на піті

    </h3>

    <table class="karts-on-pit" x-data="pitQueue" @queue-add.window="addToQueue" @queue-reset.window="resetQueue">
        <thead>
        <th class="kart-number-cell">#</th>
        <th class="pilot-name-nowrap">Pilot</th>
        <th>Best</th>
        <th>Avg</th>
        <th class="kart-control"></th>
        </thead>

        <template x-for="kart in queue">
            <tbody>
            <tr class="best-stint" :style="{'background-color': kartsInfo[kart].color}">
                <td rowspan="2" class="kart-number-cell">
                        <span class="kart-number"
                              :href="'http://localhost:8000/kart/' + kart"
                              x-text="kart">
                        </span>
                </td>
                <td class="pilot-name-nowrap" x-text="kartsInfo[kart].best_stint.pilot || 'пусто'"></td>
                <td x-text="lapTimeOrEmpty(kartsInfo[kart].best_stint.best)"></td>
                <td x-text="lapTimeOrEmpty(kartsInfo[kart].best_stint.average)"></td>
                <td rowspan="2" class="kart-control" @click="switchColor(kart)">🔘</td>
            </tr>
            <tr class="last-stint" :style="{'background-color': kartsInfo[kart].color}">
                <td class="pilot-name-nowrap" x-text="kartsInfo[kart].last_stint.pilot || 'пусто'"></td>
                <td x-text="lapTimeOrEmpty(kartsInfo[kart].last_stint.best)"></td>
                <td x-text="lapTimeOrEmpty(kartsInfo[kart].last_stint.average)"></td>
            </tr>
            </tbody>
        </template>

    </table>

    <div class="available-karts-picker" x-data>
        {% for kart in range(1, 11) %}
            <button class="available-kart" @click="requestAddToQueue({{ kart }})">{{ kart }}</button>
        {% endfor %}
        <hr>
        {% for kart in range(11, 21) %}
            <button class="available-kart" @click="requestAddToQueue({{ kart }})">{{ kart }}</button>
        {% endfor %}
        <hr>
        {% for kart in [21, 22, 33, 44, 69, 88] %}
            <button class="available-kart" @click="requestAddToQueue({{ kart }})">{{ kart }}</button>
        {% endfor %}
        <hr>
        <div x-data="{customKartNumber: 1}">
            <input
                    type="number" min="1" max="100"
                    x-model="customKartNumber" style="display: inline; margin-left: 0.5em; width: 5em;">
            <button @click="requestAddToQueue(customKartNumber)" style="margin-left: 0.5em;">Кастомний карт</button>
        </div>
        <hr>

    </div>

    <div>
        <br>
        <button
                style="width: 100%"
                onclick="confirm('Точно скинути все з піта?') ? resetQueue() : null">
            Скинути все
        </button>
    </div>

{% endblock %}


{% block extra_js %}
    <script>
        document.addEventListener('alpine:init', () => {
            Alpine.data('pitQueue', () => ({
                queue: Alpine.$persist([]),
                kartsInfo: Alpine.$persist({}),

                addToQueue(event) {
                    console.log("Received new event, add to queue", event)
                    this.queue.push(event.detail.number)
                    this.kartsInfo[event.detail.number] = {...event.detail, color: nextColor()}
                },

                resetQueue() {
                    console.log('Reset queue')
                    // No need to drop this, it will be overriden when needed
                    // this.kartsInfo = {};
                    this.queue = [];
                },

                switchColor(kart_number) {
                    console.log('Switching color for', kart_number)
                    this.kartsInfo[kart_number].color = nextColor(this.kartsInfo[kart_number].color)
                }
            }))
        })

        function requestAddToQueue(kart_number) {
            fetch("{{ url('get-pit-karts-stats') }}?kart=" + kart_number)
                .then(response => {
                    if (response.ok)
                        return response.json()
                    else
                        throw new Error('Cannot retrieve kart info', {cause: err})
                })
                .then(kart_info => dispatchEvent(new CustomEvent('queue-add', {detail: kart_info})))
                .catch(error => alert("Помилка при додаванні карту " + kart_number))
        }

        function resetQueue() {
            dispatchEvent(new CustomEvent('queue-reset'))
        }

        function nextColor(color) {
            switch (color) {
                case "white":
                    return "#ffeb94"  // yellow
                case "#ffeb94":
                    return "#ff9494"  // red
                case "#ff9494":
                    return "#a5a5a5"  // gray
                case "#a5a5a5":
                    return "white"
                default:
                    return "white"
            }
        }

        function lapTimeOrEmpty(value) {
            return typeof value == 'number' ? value.toFixed(2) : '-';
        }

    </script>


{% endblock %}