{% extends "base.html" %}


{% block title %}
    PIT
{% endblock %}

{% block extra_head %}
    <script src="https://unpkg.com/htmx.org@1.9.2"></script>
{#    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>#}
{% endblock %}


{% block body %}
    <h3>
        Карти що зараз на піті

    </h3>

    <table class="karts-on-pit" id="pit-queue">
        <thead>
            <th class="kart-number-cell">#</th>
            <th class="pilot-name-nowrap">Pilot</th>
            <th>Best</th>
            <th>Avg</th>
            <th class="kart-control"></th>
        </thead>
        {% for kart_data in queue %}
            <tbody>
            <tr class="best-stint">
                <td rowspan="2" class="kart-number-cell">
                    {{ kart(number=kart_data.number, inline=true) }}
                </td>
                <td class="pilot-name-nowrap">
                    {{ kart_data.best_stint.pilot }}
                </td>
                 <td>
                     {{ kart_data.best_stint.best|round(3) }}
                </td>
                <td>
                    {{ kart_data.best_stint.average|round(3) }}
                </td>
                <td rowspan="2" class="kart-control">🔘</td>
            </tr>
            <tr class="last-stint">
                <td class="pilot-name-nowrap">
                     {{ kart_data.last_stint.pilot }}
                </td>
                <td>
                     {{ kart_data.last_stint.best|round(3) }}
                </td>
                <td>
                    {{ kart_data.last_stint.average|round(3) }}
                </td>
            </tr>
            </tbody>
        {% endfor %}

    </table>

    <div>
        <button
            style="width: 100%"
            onclick="document.getElementById('add-to-queue-dialog').showModal()">
            Додати карт в чергу
        </button>
        <br>
        <button
            style="width: 100%"
            onclick="confirm('Точно скинути все з піта?') ? resetQueue() : null">
            Скинути все
        </button>
    </div>


    <dialog id="add-to-queue-dialog" >
        <header>
            <span>Додати карт в чергу</span>
            <span id="close-add-to-queue-dialog">🗙</span>
        </header>
        <menu>
            {% for kart in range(1, 23)|list + [33, 44, 69, 88] %}
                <button class="available-kart"
                        hx-get="{{ url('add-kart-to-queue') }}?kart_number={{ kart }}"
                        hx-target="#pit-queue"
                        hx-swap="beforeend">
                    {{ kart }}
                </button>
                {% if loop.index % 10 == 0 %}<hr>{% endif %}
            {% endfor %}
            <hr>
            <div>
                <input
                        type="number" min="1" max="100"
                        name="custom-kart"
                        id="custom-kart"
                        style="display: inline; margin-left: 0.5em; width: 5em;">
                <br>
                <button style="margin-left: 0.5em;"
                        hx-vals='js:{kart_number: document.getElementById("custom-kart").value}'
                        hx-get="{{ url('add-kart-to-queue') }}"
                        hx-target="#pit-queue"
                        hx-swap="beforeend">Кастомний карт</button>
            </div>
            <hr>

        </menu>
    </dialog>

{% endblock %}


{% block extra_js %}
    <script>
    const modal = document.getElementById("add-to-queue-dialog");
    const close_btn = document.getElementById("close-add-to-queue-dialog");

    close_btn.onclick = function() {
      modal.close();
    }

    window.addEventListener('click', function(event) {
        if (event.target == modal) {
            modal.close();
          }
    })

    window.addEventListener('htmx:beforeRequest', function(event) {
        modal.close();
    })


    </script>

{% endblock %}