{% extends "base.html" %}


{% block title %}
    Race picker
{% endblock %}

{% block header %}
{% endblock %}

{% block body %}

    {% include 'includes/logo-header.html' %}

    <div style="text-align: center">

        <h4>
            Привіт, {{ user.username }} <br>
            Вибери гонку
        </h4>

        {% if error is not none %}
            <div style="background-color: #ffb6b6; border: 3px solid red; max-width: 400px; margin: 20px auto;">
                Cannot select race {{ error }}
            </div>
        {% endif %}
        <form method="post">
            {{ csrf_input }}
            {% for race in races %}
                <button type="submit" name="race_id", value="{{ race.id }}">
                    {{ race.name }}
                    {% if race.is_active %}
                        - &#9989; активна
                    {% endif %}
                </button>
                <br>
            {% endfor %}
        </form>

        <br><br>

        <a href="{{ url('logout-confirm') }}">
            <button>
                &#128072; <br> Розлогінитися
            </button>
        </a>

    </div>


{% endblock %}
