{% extends "base.html" %}


{% block title %}
    SETTINGS
{% endblock %}


{% block body %}

    <details open>
        <summary>Налаштування піта</summary>

        <div class="show-first-stint">
            <form action="{{ url('change-pit-settings') }}" method="POST">
                <span>Які показувати відрізки?</span>
                <br>
                <i> &#10071; Найкращий обирається по середньому темпу</i>
                <br><br>
                <label><input onchange="this.form.submit();"
                              type="radio"
                              name="pit-mode"
                              value="best_2"
                              {% if current_pit_mode == 'best_2' %}checked="checked"{% endif %}>
                    Найкращий + другий найкращий
                </label>
                <br>
                <label><input onchange="this.form.submit();"
                                  type="radio"
                                  name="pit-mode"
                                  value="best_last"
                                  {% if current_pit_mode == 'best_last' %}checked="checked"{% endif %}>
                        Найкращий + Останній
                </label>
                <br>
                <label><input onchange="this.form.submit();"
                                  type="radio"
                                  name="pit-mode"
                                  value="best_nonstart_last"
                                  {% if current_pit_mode == 'best_nonstart_last' %}checked="checked"{% endif %}>
                        Найкращий (за виключенням стартового відрізку) + Останній
                </label>
                <br>
            </form>

        </div>
    </details>

    <div>
        <div class="karts-with-marks">
            <h4>Карти з відмітками</h4>

            {% set karts_with_marks = user_badges|list + user_accents|list %}
            <table>
                {% for kart_number in karts_with_marks|unique|sort %}
                    <tr>
                        <td>
                            {{ kart(number=kart_number, inline=true) }}</td>
                        <td> {{ user_notes.get(kart_number, '- ') }}</td>

                    </tr>

                {% endfor %}
            </table>
        </div>


        <br>
        {% if request.user.is_superuser %}
            <div>
                <a href="/admin">
                    <button style="background-color: #ffff85; border: 1px solid black; width: 100%;">Go to admin
                    </button>
                </a>
            </div>
        {% endif %}

        <br>

        <div>
            Session will expire at: {{ expire_at.strftime("%B %d, %Y  at %H:%M:%S") }}
            <br>
            (Pit data is stored in session)
        </div>
        <form method="POST" action="{{ url('reset-race-pick') }}">
            {{ csrf_input }}
            <button type="submit" style="width: 100%;">
                &#128072; <br> Закрити гонку (або вийти)
            </button>
        </form>

    </div>

{% endblock %}
