{% extends "base.html" %}


{% block title %}
    SETTINGS
{% endblock %}


{% block body %}

    <div>
        <div class="karts-with-marks">
            <h4>Карти з відмітками</h4>
            {% set karts_with_marks = user_badges|list + user_accents|list %}
            {% for kart_number in karts_with_marks|unique|sort %}
                {{ kart(number=kart_number, inline=true) }}
            {% endfor %}
        </div>
        <form method="POST" action="{{ url('reset-race-pick') }}">
            {{ csrf_input }}
            <button type="submit">
                &#128072; <br> Закрити гонку (або вийти)
            </button>
        </form>
    </div>

{% endblock %}