{% extends "base.html" %}

{% block title %}
    KARTS
{% endblock %}


{% block body %}
    <h3>
        {{ kart(number=stint.kart, inline=true) }} карт, {{ stint.pilot }}
        <br><br>
        &#128336; {{ stint.stint_started_at|format_racetime }}
        <br>
        Це {{ stint.stint }}й відрізок {{ team.name }}
    </h3>
    <h4>


    </h4>

    <br>

    <b>Краще коло: {{ stint.best_lap|round(3) }}</b><br>
    Середній темп: {{ stint.avg_80|round(3) }}<br><br>

    Кращий сектор 1: <b>{{ stint.best_sector_1|round(2) }}</b><br>
    Кращий сектор 2: <b>{{ stint.best_sector_2|round(2) }}</b><br>
    Коло з кращих секторів: {{ stint.best_theoretical|round(3) }}<br>

    <br>
    <div class="stint-details-links">
        <a href="{{ url('kart-detail', args=[stint.kart]) }}">
            <button>
                Всі відрізки {{ kart(number=stint.kart, inline=true, nolink=true) }} карту
            </button>
        </a>
        <a href="{{ url('team-detail', args=[team.number]) }}">
            <button>
                Всі відрізки {{ team.name }} (# {{ team.number }})
            </button>
        </a>
    </div>
    <hr>

    <table>
        <thead>
            <tr>
                <th>Lap #</th>
                <th>Time</th>
                <th>S1</th>
                <th>S2</th>
            </tr>
        </thead>

        {% for lap in laps %}
            {% set lap_class = 'close-to-best' if lap.lap_time < close_to_best %}
            {% set lap_class = 'best' if lap.lap_time == stint.best_lap else lap_class %}

            {% set s1_class = 'close-to-best' if lap.sector_1 < close_to_best_sector_1 %}
            {% set s1_class = 'best' if lap.sector_1 == stint.best_sector_1 else s1_class %}

            {% set s2_class = 'close-to-best' if lap.sector_2 < close_to_best_sector_2 %}
            {% set s2_class = 'best' if lap.sector_2 == stint.best_sector_2 else s2_class %}


            <tr class="stint-lap">
                <td>{{ lap.lap_number }}</td>

                <td class="{{ lap_class }}">{{ lap.lap_time }}</td>

                <td class="{{ s1_class }}">{{ lap.sector_1 }}</td>

                <td class="{{ s2_class }}">{{ lap.sector_2 }}</td>
            </tr>
        {% endfor %}
    </table>


{% endblock %}