{% extends "base.html" %}

{% block title %}
    KARTS
{% endblock %}


{% block body %}
    <h3>
        {% kart number=stint.kart %} by {{ stint.pilot }}
        -- (started at {{ stint.stint_started_at|format_racetime }})
    </h3>

    <b>Best lap: {{ stint.best_lap|floatformat:3 }}</b><br>
    Average: {{ stint.avg_80|floatformat:3 }}<br><br>

    Best S1: {{ stint.best_sector_1|floatformat:2 }}<br>
    Best S2: {{ stint.best_sector_2|floatformat:2 }}<br><br>
    Best segments lap: {{ stint.best_theoretical|floatformat:3 }}<br><br>

    <a href="{% url 'kart-detail' stint.kart %}">Go to kart details</a><br>
    <a href="{% url 'team-detail' team.number %}">Go to team #{{ team.number }} - {{ team.name }} details</a>


    <h4>Laps:</h4>
    {% for lap in laps %}
        {{ lap.lap_time }}<br>
    {% endfor %}

{% endblock %}