{% extends "base.html" %}
{% load nfsformat %}

{% block title %}
TEAMS
{% endblock %}

{% block body %}
    <h4>Stints show latest first </h4>
    {% for team in teams %}

    <div class="team-card">
        <div class="team-card-line" id="team-card-line-{{ team.team }}">
            <div class="team-card-line-team" >
                <div class="title" id="team-{{ team.team }}-line">
                {{ team.team__name }} &nbsp; <span style="color: gray"> - &nbsp; #{{ team.team }}</span>
                </div>
                <div class="pilot-names">
                    {{ team.pilots|join:', ' }}
                </div>
            </div>

            <div class="team-card-line-karts" id="team-card-line-karts-{{ team.team }}">
                {% for stint in team.stints %}
                    <span class="kart-number">{{ stint.kart }} </span>&nbsp;
                {% endfor %}
            </div>

            <div class="team-card-line-link collapsed" id="team-card-line-link-{{ team.team }}">
                <a href="{% url 'team-detail' team.team %}"><button>Go to team page</button></a>

            </div>
        </div>

        <table class="collapsed" id="stints-info-{{ team.team }}">
        {% for stint in team.stints %}
            {# TODO: show when stint happened, how long ago (or if ongoing) #}
            <tr>
            <td style="width: 2em; vertical-align: middle">
                <a href="{% url 'kart-detail' stint.kart %}" class="kart-number" style="margin-left: 10px">{{ stint.kart }}</a>
            </td>

                <td>{{ stint.pilot|split_pilot }}</td>
            <td>Best: {{ stint.best_lap|floatformat:3 }}</td>
            <td>Average: {{ stint.avg_80|floatformat:3 }}</td>
                <td><a href="{% url 'stint-detail' stint.stint_id %}">Show more</a></td>
            </tr>
        {% endfor %}
        </table>

    </div>
    {% endfor %}
{% endblock %}



{% block extra_js %}
    document.addEventListener('DOMContentLoaded', () => {
        document.querySelectorAll('.team-card-line').forEach(card_line_div => {
            const team_id = card_line_div.id.substring(15);  // team-card-line-
            console.log(team_id);
            card_line_div.addEventListener('click', function(event) {
                document.querySelector('#stints-info-'+team_id).classList.toggle('collapsed');
                document.querySelector('#team-card-line-karts-'+team_id).classList.toggle('collapsed');
                document.querySelector('#team-card-line-link-'+team_id).classList.toggle('collapsed');
                console.log(card_line_div);
            });
        });
    })
{% endblock %}
