.kart-number {
    font-family: 'Racing Sans One', cursive;
    border: 3px solid black;
    border-radius: 5px;
    text-decoration: none;
    color: black;
    font-size: 1.2em;
    width: 1.5em;
    height: 1.5em;
    text-align: center;
    display: block;
    position: relative;
}

img.badge {
    padding: 0.1em;
    border: 1px solid black;
    border-radius: 50%;
    background-color: white;
}

.kart-number > img.badge {
    width: 0.7em;
    height: 0.7em;

    position: absolute;
    top: -0.5em;
    right: -0.5em;
}

img.badge.good {
    background-color: #2ed246;
}

img.badge.slowed {
    background-color: #ff6565;
}

img.badge.unknown {
    background-color: #85b4ff;
}

img.badge.damaged {
    background-color: #ffe641;
}
