.kart-number {
    font-family: 'Racing Sans One', cursive;
    border: 3px solid black;
    border-radius: 5px;
    text-decoration: none;
    color: black;
    font-size: 1.2em;
    width: 1.5em;
    height: 1.5em;
    text-align: center;
    display: block;
    position: relative;
}

img.badge {
    width: 0.7em;
    height: 0.7em;

    padding: 0.1em;
    border: 1px solid black;
    border-radius: 50%;
    background-color: #ffe641;
    /*background-color: #00ff11;*/
    /*background-color: #ff6565;*/

    position: absolute;
    top: -0.5em;
    right: -0.5em;
}

img.badge[class="repair"] {

}
