table.stints {
    table-layout: fixed;
}

table.stints td:not(.pilot-name), table.stints th:not(.pilot-name) {
    vertical-align: middle;
    text-align: center;
}


table.stints th {
    color: black;
}

table.stints th a {
    color: black;
    /*text-decoration: none; !* no underline *!*/
}

table.stints th.selected-sorting {
    background-color: #ffff7b;
}

table.stints .stint-timeframe {
    font-size: 0.8em;
}

.kart-number-cell {
    width: 2em;
    vertical-align: middle;
}


.kart-number-cell {
    padding-left: 0;
}

.stints th:last-child, .stints td:last-child {
    padding-right: 0;
}

.stint-link {
    width: 1.5em;
}

.stints th.pilot-name, .stints td.pilot-name {
    padding-right: 0;
}

.pilot-name-nowrap {
    overflow: hidden;
    white-space: nowrap;
}
