.team-card {
    border: 1px solid gray;
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 10px 5px;
}


.team-card-line {
    padding-left: 10px;
    padding-right: 10px;
}

.team-card-line-team {
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.team-card-line-team .title {
    font-weight: bold;
    font-size: 1.1em;
}

.team-card-line-team .pilot-names {
    font-size: 0.8em;
    text-align: right;
}

.team-card-line-karts {
    margin-top: 10px;
    display: flex;
    gap: 0.4em;
}

.team-card-line-link {
    display: flex;
    align-items: center;
}

.team-card .collapsed {
    display: none;
}