{% macro kart(number, nolink=false, style='', badge=none, accent=none) %}


{% set ns = namespace(style=style, badge='') %}

{% if accent %}
    {% set ns.style = "background-color: {}; ".format(accent, style) %}
{% endif %}

{% if badge %}
    {% set ns.badge = 'badge="{}"'.format(badge) %}
{% endif %}

{% if number == none %}
    <span class="kart-number">
        ?
    </span>
{% elif nolink %}
    <span class="kart-number" style="{{ style }}" {{ badge }} >
        {{ number }}
    </span>
{% else %}
    <a class="kart-number" href="{{ url('kart-detail', args=[number]) }}" style="{{ style }}" {{ badge }}>
        {{ number }}
    </a>
{% endif %}

{% endmacro %}