{% macro kart(number, nolink=false, style='', badge=none, accent=none) %}


{% set ns = namespace(style=style, badge='') %}

{% if accent %}
    {% set ns.style = "background-color: {}; ".format(accent, style) %}
{% endif %}

{% if badge %}
    {% set ns.badge = '<img class="badge" src="/static/wr/1.svg">'|safe %}
{% endif %}

{% if number == none %}
    <span class="kart-number">
        ?
    </span>
{% elif nolink %}
    <span class="kart-number" style="{{ ns.style }}">
        {{ number }}

    </span>
{% else %}
    <a class="kart-number" href="{{ url('kart-detail', args=[number]) }}" style="{{ ns.style }}">
    {{ number }}
    {{ ns.badge }}
    </a>
{% endif %}

{% endmacro %}