{% from 'components/stints-table-header.html' import stints_table_header with context %}
{% from 'components/kart.html' import kart with context %}

{% macro stints_table(stints, columns='PBSAL', sortable=false, sorting='best') %}

{% set columns = columns|parse_stints_table_columns %}
{% set sorting = sorting or 'best' %}

{% if sortable %}
{# TODO: rework this #}
<style>
.stints .{{ sorting }} {
    font-weight: bold;
}
</style>
{% endif %}
<table class="stints">
    {# TABLE HEADER START #}
    {% if sortable %}

        {{ stints_table_header(columns=columns, sorting=sorting) }}

    {% else %}

        <thead>
            <tr>
                <th style="width: 2em; vertical-align: middle">#</th>
                {% if columns.pilot %}<th>Pilot</th>{% endif %}
                {% if columns.best %}<th>Best</th>{% endif %}
                {% if columns.sectors %}<th>Sectors</th>{% endif %}
                {% if columns.average %}<th>Avg</th>{% endif %}
                {% if columns.link %}<th>Link</th>{% endif %}
            </tr>
        </thead>

    {% endif %}

    {# TABLE HEADER END #}
    {% set badges = cycler('good', 'unknown', 'damaged', 'slowed') %}

    {% for stint in stints %}
        <tr>
            <td style="width: 2em; vertical-align: middle">
                {# {% cycle 'good' 'bad' 'question' as badge silent %} #}
                {{ kart(number=stint.kart) }}
            </td>

            {% if columns.pilot %}
                <td class="pilot-name">
                    {{ stint.pilot|pilot_surname }}
                    <br>
                    <span class="stint-timeframe">&#128336; {{ stint.stint_started_at|format_racetime }}</span>
                </td>
            {% endif %}

            {% if columns.best %}
                <td class="best">{{ stint.best_lap|round(2) }}</td>
            {% endif %}

            {% if columns.sectors %}
                <td>
                    <span class="sector_1">{{ stint.best_sector_1|round(2) }}</span>
                    <br>
                    <span class="sector_2">{{ stint.best_sector_2|round(2) }}</span>
                </td>
            {% endif %}

            {% if columns.average %}
                <td class="average">{{ stint.avg_80|round(2) }}</td>
            {% endif %}

            {% if columns.link %}
                <td><a href="{{ url('stint-detail', args=[stint.stint_id]) }}">Details</a></td>
            {% endif %}









        </tr>
    {% endfor %}

</table>

{% endmacro %}