{% macro stints_table_header(columns='PBSAL', sorting='best') %}

<thead>
    <tr>
        <th {% if sorting == 'kart' %}class='selected-sorting'{% endif %}  class="kart-number-cell">
            <a href="?sort=kart">#</a>
        </th>

        {% if columns.pilot %}
            <th class="pilot-name">
                Pilot
            </th>
        {% endif %}

        {% if columns.best %}
            <th {% if sorting == 'best' or not sorting %}class='selected-sorting'{% endif %}>
                <a href="?sort=best">Best</a>
            </th>
        {% endif %}

        {% if columns.sectors %}
            {% if sorting == 'sector_1' %}
                <th class="selected-sorting"><a href="?sort=sector_2">by S1</a></th>
            {% elif sorting == 'sector_2' %}
                <th class="selected-sorting"><a href="?sort=sector_1">by S2</a></th>
            {% else %}
                <th><a href="?sort=sector_1">Sec</a></th>
            {% endif %}
        {% endif %}

        {% if columns.average %}
            <th {% if sorting == 'average' %}class='selected-sorting'{% endif %}>
                <a href="?sort=average">Avg</a>
            </th>
        {% endif %}

        {% if columns.link %}
            <th class="stint-link"></th>
        {% endif %}
    </tr>
</thead>

{% endmacro %}