{% from 'components/kart.html' import kart with context %}

{% macro team_card(team) %}

<div class="team-card">
    <div class="team-card-line" id="team-card-line-{{ team.number }}">
        <div class="team-card-line-team" >
            <div class="title" id="team-{{ team.number }}-line">
                {{ team.name }}
                <span style="color: gray; display: inline !important;"> #{{ team.number }}</span>
                <br>
                <span style="font-size: 0.7em; color: gray;">Mid: {{ team.average_lap }}</span>
            </div>
            <div class="pilot-names">
                {% for pilot in team.pilots %}
                    {{ pilot|pilot_surname }}
                    {% if not loop.last %}<br>{% endif %}
                {% endfor %}
            </div>
        </div>

        <div class="team-card-line-karts" id="team-card-line-karts-{{ team.number }}">
            {% for stint in team.stints %}
                {{ kart(number=stint.kart, nolink=true) }}
            {% endfor %}
        </div>

        <div class="team-card-line-link collapsed" id="team-card-line-link-{{ team.number }}">
            <a href="{{ url('team-detail', args=[team.number]) }}"><button>Go to team page</button></a>
        </div>
    </div>





    <table class="collapsed" id="stints-info-{{ team.number }}">
        <tr>
        <th style="width: 2.5em; vertical-align: middle"></th>
        <th class="pilot-name">Pilot</th>
        <th>Best</th>
        <th>Avg</th>
        <th>Details</th>
        </tr>
    {% for stint in team.stints %}
        {# TODO: show stints component #}
        {# TODO: show when stint happened, how long ago (or if ongoing) #}

    </tr>
        <tr>
        <td style="width: 2.5em; vertical-align: middle; padding-left: 5px">
            {{ kart(number=stint.kart) }}
        </td>

            <td class="pilot-name">
                {{ stint.pilot|pilot_surname }}
                <br>
                <span class="stint-timeframe">&#128336; {{ stint.stint_started_at|format_racetime }}</span>
            </td>
        <td>{{ stint.best_lap|round(3) }}</td>
        <td>{{ stint.avg_80|round(3) }}</td>
            <td><a href="{{ url('stint-detail', args=[stint.stint_id]) }}">Show more</a></td>
        </tr>
    {% endfor %}
    </table>

</div>

{% endmacro %}