{% from 'components/kart.html' import kart with context %}
{% from 'components/stints-table.html' import stints_table with context %}

{% macro team_card(team) %}

<div class="team-card">
    <div class="team-card-line" id="team-card-line-{{ team.number }}">
        <div class="team-card-line-team" >
            <div class="title" id="team-{{ team.number }}-line">
                {{ team.name }}
                <span style="color: gray; display: inline !important;"> #{{ team.number }}</span>
                <br>
                <span style="font-size: 0.7em; color: gray;">Mid: {{ team.average_lap }}</span>
            </div>
            <div class="pilot-names">
                {% for pilot in team.pilots %}
                    {{ pilot|pilot_surname }}
                    {% if not loop.last %}<br>{% endif %}
                {% endfor %}
            </div>
        </div>

        <div class="team-card-line-karts" id="team-card-line-karts-{{ team.number }}">
            {% for stint in team.stints %}
                {{ kart(number=stint.kart, nolink=true) }}
            {% endfor %}
        </div>

        <div class="team-card-line-link collapsed" id="team-card-line-link-{{ team.number }}">
            <a href="{{ url('team-detail', args=[team.number]) }}"><button>Перейти на сторінку команди</button></a>
        </div>
    </div>



    <div class="collapsed" id="stints-info-{{ team.number }}">
        {{ stints_table(team.stints, columns='PBAL', sortable=false) }}
    </div>

</div>

{% endmacro %}